@using Microsoft.AspNet.Identity
<style>
    .navbar-nav i {
       margin-right:6px;
    }
</style>

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right ml-auto" }))
    {
        @Html.AntiForgeryToken()

<ul class="navbar-nav navbar-right ml-auto">


    <li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            Hello @User.Identity.GetUserName()
            <b class="caret d-none d-lg-block d-xl-block ml-2"></b>

        </a>
        <ul class="dropdown-menu dropdown-navbar">
            <li class="nav-link">
                @Html.ActionLink("Settings", "AddPhoneNumber", "Manage", new { @class = "nav-item dropdown-item" })

            </li>
            <li class="dropdown-divider"></li>
            <li class="nav-link">
                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item dropdown-item">Log out</a>
            </li>
        </ul>
    </li>
    <li class="separator d-lg-none"></li>
</ul>

    }
}
else
{
<ul class="nav navbar-nav navbar-right ml-auto">
    <li> <i class="tim-icons icon-laptop"></i>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink"})</li>
    <li> <i class="tim-icons icon-single-02"></i>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}
