@model IEnumerable<CvBuilder.Models.Education>

@{
    ViewBag.Title = "ShowEducations";
}

<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
    <div class="sidebar-wrapper ps ps--active-x ps--active-y">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                CT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <li class="">
                <a href="~/Home/Index">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Homebage</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/PersonalInfo">
                    <i class="tim-icons icon-single-02"></i>
                    <p>Pesrsonal Info</p>
                </a>
            </li>
            <li class="active">
                <a href="~/User/ShowEducation">
                    <i class="tim-icons icon-paper"></i>
                    <p>Education</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/ShowExperiences">
                    <i class="tim-icons icon-single-copy-04"></i>
                    <p>Experiences</p>
                </a>
            </li>
            <li class="">
                <a href="~/User/Appearance">
                    <i class="tim-icons icon-palette"></i>
                    <p>Appearance</p>
                </a>
            </li>
        </ul>
        <div class="ps__rail-x" style="width: 80px; left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 55px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 362px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 211px;"></div></div>
    </div>
</div>


@if (Model.Count() != 0)
{

    <div class="row">
        <div class="col-md-12 mb-5">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Educations</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive ps">
                        <table class="table tablesorter tablesorter-default tablesorteree43fc977bc32" id="simple-table" role="grid">
                            <thead class=" text-primary">
                                <tr role="row" class="tablesorter-headerRow">
                                    <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="simple-table" unselectable="on" aria-sort="none" aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
                                        <div class="tablesorter-header-inner">
                                            @Html.DisplayNameFor(model => model.Name)
                                        </div>
                                       
                                    </th>
                                    <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="simple-table" unselectable="on" aria-sort="none" aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
                                        <div class="tablesorter-header-inner">
                                            @Html.DisplayNameFor(model => model.StartDate)
                                        </div>
                                       
                                    </th>
                                    <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="simple-table" unselectable="on" aria-sort="none" aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
                                        <div class="tablesorter-header-inner">
                                            @Html.DisplayNameFor(model => model.EndDate)
                                        </div>
                                    </th>
                                    <th data-column="0" class="tablesorter-header tablesorter-headerUnSorted" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="simple-table" unselectable="on" aria-sort="none" aria-label="Name: No sort applied, activate to apply an ascending sort" style="user-select: none;">
                                        <div class="tablesorter-header-inner">
                                            @Html.DisplayNameFor(model => model.Specialty)
                                        </div>
                                    </th>
                                    <th></th>
                                </tr>
                              
                            </thead>
                            <tbody aria-live="polite" aria-relevant="all">

                                @foreach (var item in Model)
                                {
                                    <tr role="row">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StartDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EndDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Specialty)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditEducation", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "DeleteEducation", new { id = item.Id })
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <p class="btn btn-fill btn-primary">
        <a href="~/User/AddEducation" class="text-white">Create New</a>
           
    </p>

}
else
{
    <h4>No Education Info Added @Html.ActionLink("Create New", "AddEducation")</h4>

}


